* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: grid;
    place-items: center;
    margin: 0;
    background: #1d1e22;
  }
  
  input {
    position: absolute;
    transform: scale(0);
  }
  
  .checkbox {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid #36383e;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.1s ease;
  }
  
  .checkbox::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 20px;
    margin-left: -5px;
    margin-top: -13px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 3px solid #1d1e22;
    border-bottom: 3px solid #1d1e22;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  
  input:checked ~ .checkbox {
    border-color: transparent;
    background: #1ac0a2;
    animation: jelly 0.6s ease;
  }
  
  input:checked ~ .checkbox:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.1, 0.9);
    }
    40% {
      transform: scale(0.8, 1.2);
    }
    50% {
      transform: scale(1.1, 0.8);
    }
    65% {
      transform: scale(0.9, 1);
    }
    75% {
      transform: scale(1, 0.9);
    }
  }